<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GroupatSuitelevel">
<groups>
<run>
<exclude name="regression" />
</run>
</groups>
<test thread-count="5" name="Test">
<classes>
<class name="testnglearning.GroupSocial"/>
<class name="testnglearning.GroupLearning"/>
</classes>
</test> <!-- Test1 -->
</suite> <!-- GroupatSuitelevel -->
